* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: none;
    
}
body {
    background-color: #fefaf4;
}
#logo {
    position: relative;
    padding: 10px;
    width: 20%;
    height: auto;

}

.text-1, .text-2 {
    font-size: 1.2rem;
    text-align: center;
    padding: 3% 10% 2% 10%;
    

}
/* 
.text-2 {
    font-size: 1.05rem;
    padding: 1.2rem;

} */
a {
    text-decoration: underline;
    
    color: #212529;
}
h1, h2, h3, h4, h5, p, li{
    margin: 0.6em;
    padding: 0.2em;
    font-size: 1.2rem;
    color: #212529;

}

.nav-bar {
    
    background-color: #D3EE98;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.nav-a {
    color: #212529;
}
a {
    color: #72BF78;
}

.flex-div {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

a:hover {

    color: #A0D683;
}
.nav-a:hover {
    color: #72BF78;    
}

.button {
    padding: 10px 20px 10px 20px;
    
    background-color:   #72BF78;
    border-radius: 10%;

}
.button:hover {
    background-color: #89d18f;

}
.button a {
    color: #212529;
}

@media (max-width: 800px) {
    .nav-a {
        display: none;
    }
    
}